@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}

body {
  background: #e5e5e5;
}
.App {
  width: 1192px;
  max-width: 90%;
  margin: 0 auto;
}
nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}
nav .branding {
  font-weight: 700;
  line-height: 34.8px;
  color: #000000;
  font-size: 25px;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li a {
  width: 60px;
  height: 26px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;

  color: #000000;

  flex: none;
  font-size: 17px;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  text-decoration: none;
}

header {
  position: relative;
  width: 996px;
  max-width: 90%;
  height: 291px;

  left: 222px;
  top: 147px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 128px;
  height: 128px;
  border-radius: 120px;
}

header h1 {
  font-weight: bold;
  line-height: 100%;
  font-style: normal;
  font-size: 64px;
  color: #e16259;
  letter-spacing: -1.85px;
  text-decoration-line: underline;
}
header p {
  width: 500px;

  font-size: 20px;
  line-height: 140%;
  margin-top: 12px;
}
header span {
  color: #e5e5e5;
}
main {
  position: absolute;
  width: 1200px;
  left: 120px;
  top: 558px;
  display: flex;
  flex-wrap: wrap;
}
main .card {
  display: flex;

  padding: 12px 16px;
  position: static;
  font-size: 22px;
  height: 110px;
  width: 280px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 10px;
}

main .card span {
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
}
main .card h3 {
  font-size: 20px;
  line-height: 135%;
  margin: 2px 0;
}
main .card p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #e16259;
}

main .card:active,
main .card:hover {
  background: #a259ff;
  color: #ffffff !important;
}
@media screen and(max-width:) {
}
